*.iml
*.ps1
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
local.properties
.vscode
/distkotlinc/
kotlin.zip
test.jar
test.kt
.agents/
/dev_mode_scripts/

# Python compiled files
__pycache__/
*.pyc

# Decompiled folders and analysis scrap
/bittv_extracted/
/*.apk
/*.xml
/*.json
/*.txt
/*.html
/*.js
/*.py
/test.zip
/test_unzip/

# Exceptions to allow important build/configuration files
!/build.gradle.kts
!/settings.gradle.kts
!/gradle.properties
!/recalculate_hashes.py

# Temp and scrap files
*.db
Cookies
*.m3u8
*_extracted/
screenshot_*.png
rbtv_local_debug.png
node_modules/
/*.cs3

# Ignore source codes of prebuilt plugins
/FilmBoxOffice/
/MovieBoXR/
/DracinAioV2/
/DubIndoXR/
/WIFI-MOVIE/
/idliXR/
